html{
  padding: 0;
  margin: 0;
    font-family: 'ReformaGroteskBoldC', 'Oswald', sans-serif;
    font-weight: 600;
    background:  #141414;
    color: #fff;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #fff;
}
figure{
  margin: 0;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
header{
    background-image: url("../img/bghead.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.menu{
    padding-top: 2.5em;
}
.head-menu{
    margin: 0;
    padding: 0;
    margin-bottom: 10.5em;
}
.head-menu ul{
    margin: 0;
    display: flex;
    padding: 0;
}

.head-menu__link {
  text-decoration: none;
  color: #fff;
  position: relative;
  transition: all 0.4s ease;
}

.head-menu__link::after { 
  content: "";
  position: absolute;
  height: 2px;
  background-color: #DB3138;;
  width: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.head-menu__link:hover { color: #DB3138; }
.head-menu__link:hover::after { width: 100%; }




.head-menu__link-item{
    list-style: none;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    line-height: 120%;
    margin: 0 0.625em  ;
}
.head-menu__btn{
    background: none;
    border:none;
    display: none;

}

.heading{
    text-align: center;
    margin-bottom: 103px;
}
.heading__title{
    font-weight: 700;
    font-size: 9.375em;
    line-height: 125%;
    color: #DB3138;
    margin: 0;
    margin-bottom: 20px;
}
.heading__sub-title{
    display: block;
    font-weight: 500;
    font-size: 1.563em;
    margin: 0 auto;
    max-width: 580px;
    line-height: 140%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.heading__btn{
    display: block;
    margin: 0 auto;
    background: #DB3138;
    border:none;
    width: 80px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
}
.heading__btn:hover{
  width: 120px;
 transition: 0.5s ease-in;
}
.heading__btn-text{
    text-align: center;
    width: 119px;
    padding: 10px 0;
}

.header-contacts{
    max-width: 1920px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 140%;
    text-transform: uppercase;
}
.header-contacts__border{
    flex-grow:1;
    border: 1px solid #FFFFFF;
}
.header-contacts__address {
    border-left :none;
}
.header-contacts__title {
font-size: 18px;
}
.header-contacts__sub-title {
    font-size: 24px;
    color: #DB3138;
    display: block;
}
.numbers__link{
   margin-bottom: 20px;
}
.address__text{
    line-height: 150%;
}
.header-contacts__worktime {
    border-right :none;
}
.achievements-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
    margin-bottom: 130px;
}
.achievements-flex__title-title{
    font-size: 52px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    max-width: 636px;
    margin-top: 0;
}
.achievements-flex__table{
    display: flex;
    justify-content: center;
}
.achievements-flex__title-subTitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    max-width: 526px;
}
.table-column__block{
    text-align: center;
    border: 1px solid #898989;
    box-sizing: border-box;
    line-height: 140%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.table-column__title{
font-size: 24px;
color: #DB3138;
margin-top: 25px;
}
.table-column__sub-title{
    margin: 0 25px 34px 25px;
    font-size: 16px;
    max-width: 280px;
}
.achievements-flex__table-secondColumn{
    margin-top: 40px;
}
.burger__title{
  text-align: left;
  color: #DB3138;
}
/*карусель.......................................................................................................*/

@media screen and (min-width: 911px) {
  .ant-carousel {
    max-width: 810px;
  }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
  .ant-carousel {
    max-width: 540px;
  }
}

@media screen and (max-width: 640px) {
  .ant-carousel {
    max-width: 270px;
  }
}


  .ant-carousel {
    margin: 50px auto auto;
    padding-top: 10px;
  }
  
  .ant-carousel-element {
    width: 270px;
    text-align: center;
    margin: 0 5px;
  }
  .ant-carousel-element img{
    width: 100%;
  }
  .ant-carousel-element figure{
    margin: 0;
    width: 100%;
  }
  .ant-carousel-element__bg{
    position: relative;
    width: 90%;
    background: #DB3138;
    margin: 0 auto;
    top:-40px;
    height:50px;
  }
  .ant-carousel-element__item{
    width: 70%;
    position: absolute;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
        top:80%;
        left:50%;
    transform:translate(-50%, -50%);
    }
  /* General styles */
  .ant-carousel {
    width: auto;
    position: relative;
  }
  
  .ant-carousel-hider {
    overflow: hidden;
  }
  
  .ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
  }
  
  .ant-carousel-element {
    display: block;
    flex: 0 0 auto;
  }
  
  /* Navigation item styles */
  .ant-carousel-arrow-left,
  .ant-carousel-arrow-right {
    width: 71px;
    height: 71px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
    background: none;
    border: none;
    padding: 0;
  }
  
  .ant-carousel-arrow-left {
    left: -80px;
    top: 40%;
    display: block;
  }
  
  .ant-carousel-arrow-right {
    right: -80px;
    top: 40%;
    display: block;
  }
  
  .ant-carousel-arrow-left:hover {
    opacity: 1.0;
  }
  
  .ant-carousel-arrow-right:hover {
    opacity: 1.0;
  }
  
/*карусель............................................................................................................*/

.description-flex{
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}

.description-flex__slider{
  width: 50%;
}
.specification-block__title{
  text-transform: uppercase;
  font-size: 32px;
  display: flex;
  align-items: center;
  margin: 0;
}
.specification-block__title-svg{
  margin-right: 20px;
}
.specification-block__sub-title{
  max-width: 526px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
.specification-block__line{
  display: block;
  padding: 25px 0;
  margin: 0 auto;
}

/*slider*************************************/
  .slider{
    max-width:90%;
    margin: 0 auto;
    overflow: hidden;
  }  
  .slider-line{
    display: flex;
    transition: all ease 1s;
  }
  .slider-line__block{
    position: relative;
  }
  .slider-line__block figcaption{
    position: absolute;
    width: 70%;
    right: 15%;
    z-index: 0;
  }
.slider-line__block-img{
}
  .button{
    background: none;
    border: none;
    opacity: 0.5;
    z-index: 0;
  }
  .button:hover{
    opacity: 1;
  }
  .slider-next{
    float:right;
  }
  .slider-line__block-item{
    padding-top: 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 140%;
letter-spacing: 0.05em;
text-transform: uppercase;
  }
/*slider*************************************/
.services-title{
  margin-top: 160px;
  text-align: center;
}
.block-title__item{
  font-size: 52px;
line-height: 140%;
letter-spacing: 0.05em;
text-transform: uppercase;
}
.services-title__link{
  display: inline-block;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 20px 30px 10px;
  margin: 0 30px 80px;
}
.services-title__link:hover{
  background: #DB3138;
  transition: 0.5s ease-in;
}
.services-title__svg{
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
}
.table-flex{
  display: flex;
  margin-bottom: 180px;
}
.table-flex__block{
  border: 1px solid #898989;
  box-sizing:border-box;
  text-align: center;
  margin: 0 10px;
}

.table-flex__block-title{
  font-size: 24px;
line-height: 140%;
letter-spacing: 0.05em;
text-transform: uppercase;
}
.table-flex__block-item{
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 auto;
  width: 70%;
}

.table-flex__block-item2{
  display: none;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 auto;
  width: 70%;
  width: 119px;
}
.block-item2-active{
  display: block;
  transition: margin 1s ease-out 0.5s;
}

.table-btn{
  margin-top: 20px;
  width: 70px;
  margin-bottom: 50px;
  height: 41px;
  cursor: pointer;
}
.table-flex__block-img{
  margin-top: 60px;
}
.table-btn__text{
  position: relative;
  top:-30px;
}

/*slider2*******************************************************/
.slider2{
  max-width:90%;
  margin: 0 auto;
  overflow: hidden;
}  
.slider-line2{
  display: flex;
  transition: all ease 1s;
}
.slider-next2{
  float:right;
}
/*slider2******************************************************/



/****gallery*******************************************/
.gallery {
  margin: 0 auto;
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.gallery__card {
  position: relative;
  height: 280px;
  cursor: pointer;
  overflow: hidden;
}

.gallery__card__pic {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}

.gallery__card:hover .gallery__card__pic {
  transform: scale(1.1);
}

.gallery-slider {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.slider__container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1E1E1E;;
  width: 80vw;
  height: 80vh;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 20px;
  font-size: 30px;
  z-index: 10;
}

.slider__btn_left {
  left: 25px;
}

.slider__btn_right {
  right: 25px;
}

.slider__close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 20px;
  background: none;
  width: 40px;
  height: 40px;
  border:none;
}

/*******gallery*********************************************************************/


/**********form******************************************/
.submission-form{
  margin: 0 auto;
  max-width: 636px;
  margin-bottom: 100px;
}
.submission-form input,textarea{
  color: #fff;
}
.submission-form input,textarea{
  font-size: 16px;
line-height: 140%;
letter-spacing: 0.05em;
text-transform: uppercase;
}
.form__data-item{
  width: 50%;
  padding: 5px;
}
.form__data-item:first-child{
  margin-right: 10px;
}
.submission-form__questions-contacts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submission-form__questions-link{
  padding: 11px;
}
.submission-form__data,.submission-form__questions, .submission-form__send,.submission-form__send{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 16px;
}
.form__data-item, .submission-form__questions-item, .submission-form__questions-link{
  border: 1px solid #898989;
  background: #141414;
}
.submission-form__questions-item{
  height: 150px;
  width: 526px;
  margin-right: 5px;
}
.submission-form__questions-contacts a img:hover{
  transform: scale(1.2);
  transition:0.3 ease-in;
}
.form__btn {
  margin: 0;
  margin-right: 40px;
}
.form__btn-text{
  margin: 0;
  top: -10px;

}
.submission-form__send-contacts{
  display: flex;
  flex-wrap:wrap;
  max-width: 265px ;
}
.send-contacts__location{
  width: 100%;
  margin-bottom: 5px;
}
.send-contacts__phone, .send-contacts__email{
  width: 45%;
}
.send-contacts__phone{
  padding-right: 10px;
}
.submission-form__send-contacts a img{
  margin-right: 10px;
}
/*form end*****************************************************/

.footer{
  border-top: 1px solid #898989;
}
.footer-flex{
  display: flex;
  justify-content: space-between;
  padding: 33px 0;
}
.footer-flex__text{
  font-size: 16px;
line-height: 140%;
letter-spacing: 0.05em;
text-transform: uppercase;
opacity: 0.5;
margin: 0;
}
.footer-menu{
  margin: 0;
}


/******бургер меню***************************************************/
.hamburger-menu{
  display: none;
}
/* Гамбургер иконка */
.menu-btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #DB3138;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 8px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 8px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */
.hamburger-window {
	position: fixed;
	top: 0;
	left: 0;
	width: 60%;
	height: 100%;
	padding: 15px;
  background: #1E1E1E;
	transform: translateX(-100%);
	transition: transform 0.5s; 
  z-index: 999;
}

.hamburger-window.active {
	transform: translateX(0);
}
.hamburger-window li {
	list-style-type: none;
  margin: 15px 0;
  position: relative;
}
.hamburger-window a:hover{
  color: #DB3138;
}
/******бургер меню конец**********************************************/

/****стрелка возврата************************************************/
.back_to_top{
  position: fixed;
  bottom: 80px;
  right: 100px;
  display: none;
  z-index: 2;
}
.back_to_top-show {
  display: block;
  cursor: pointer;
}
.return-arraw{
  width: 100px;
}
/****стрелка возврата конец*************/

@media screen and  (max-width: 1350px) {
 }
  .container{
    width: 90%;
  }
@media screen and (max-width: 945px) {
  .head-menu{
    display: none;
  }
  .hamburger-menu{
    display: block;
  }
  .achievements-flex{
    display: block;
  }
  .achievements-flex__title{
    margin-bottom: 20px;
  }
  .achievements-flex__title img{
    padding: 20px 0;
    display: block;
    margin: 0 auto;
  }
  .achievements-flex__title h2, .achievements-flex__title p{
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .gallery{
    grid-template-columns: repeat(3, 1fr);
  }
  .table-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}
 @media screen and (max-width: 850px) {
  .description-flex{
    display: block;
  }
  .description-flex__slider{
    width: 90%;
    margin: 0 auto;
  }
  .specification-block{
    margin: 0 auto;
    text-align: center;
  }
  .specification-block h2{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .specification-block h2:first-child{
    margin-top: 20px;
  }
  .specification-block p {
    width: 90%;
    margin: 0 auto;
  }
  .specification-block p:last-child{
    margin-bottom: 10px;
  }
  .specification-block__grid{
    justify-items: center;
  }
 }

@media screen and (max-width: 682px) {
  .return-arraw{
    width: 50px;
  }
  .back_to_top{
    right: 50px;
  }
  .header-contacts__title{
    font-size: 14px;
  }
  .header-contacts__sub-title{
    font-size: 18px;
  }
 }

@media screen and (max-width: 615px) { 
  .button img{
    width: 40px;
  }
}
@media screen and (max-width: 533px) { 
  .header-contacts__border{
    padding: 5px;
  }
  .services-title__link{
    margin-bottom: 10px;
  }
  .gallery{
    grid-template-columns: repeat(2, 1fr);
  }
  .table-flex{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 438px) { 
  .gallery{
    grid-template-columns: repeat(1, 1fr);
  }
  .send-contacts__phone{
    width: 90%;
  }
  .send-contacts__email{
    width: 90%;
  }
  .send-contacts__location{
    width: 90%;
  }
  }
